<div style="width:auto;" ng-init="init()" class="container">
	<div class="headerContent" >
		<button class="buttonNoColor" ng-click="goto('/masterData/employeeList')" type="button" ><img src="./assets/images/iconBack.svg"></button>
		<p style="position:absolute;margin:50px;" class="pHeader">View Employee</p>
	</div>
	<section>
		<form ng-submit="save()" name="myForm" class="formContainer">
			<div style="margin-right:100px;">
				<div style="margin:10px;position:relative;max-width: 100px; min-height: 100px; display: flex;">
					<div align="center">
						<button onclick="document.getElementById('photo').click()" type="button" class="buttonPhoto"><img id="myImg" data-ng-src="{{request.photo ? request.photo : './assets/images/profileUpload1.svg'}}"></button>
						<input id="photo" type='file' style="display: none;" />
					</div>
				</div>
			</div>
			
			<div class="column">
				<div>
					<p>User Login</p>
					<input type="textDisabled" ng-model="request.userlogin" disabled>
				</div>
				<div>
					<p>Name</p>
					<input type="textDisabled" ng-model="request.name" disabled>
				</div>
				<div>
					<p>Plant</p>
					<input type="textDisabled" ng-model="request.idPlant" disabled>
				</div>
				<div>
					<p>Email</p>
					<input type="textDisabled" ng-model="request.email" disabled>
				</div>
				<div>
					<p>Password</p>
					<input type="passwordDisabled" ng-model="request.password" disabled>
				</div>
			</div>
			<div class="column"></div>

			<div style="width:100%;margin:20px;">
				<div style="display:inline-block;">
					<p>Status</p>
					<div style="display: inline-flex;">
						<input type="radio" ng-model="request.status" value="1" disabled><p style="color: black;">Active</p>
						<input type="radio" ng-model="request.status" value="0" disabled><p style="color: black;">Non Active</p>
					</div>
				</div>

				<div style="display:inline;column-count:2;">
					<p>Role</p>
					<ul style="column-count:2;display:table-caption">
						<li style="display:inline-flex;width:220px; margin: 0 30px 30px 0 !important;"  ng-repeat="x in groups track by $index"><input type="checkbox" ng-model="x.selected" disabled/><p style="display: inline-block; margin: 0 !important;color: black;">{{x.groupName}}</p></li>
					</ul>
				</div>
			</div>
			
	</section>
</div>
