<div style="width:auto;" ng-init="init()" class="container">
	<div class="headerContent">
		<p class="pHeader">Material Type</p>
		<button ng-show="(menu.menus | filter : { 'id' : 3 } : true).length > 0" ng-click="resetPages();goto('/masterData/employeeCreate')"  type="button" class="buttonBlue">Create</button>
	</div>
	<section>
		<form ng-submit="getRequest(1)" class="tableContainer">
			<table class="tableBlue">
				<thead>
					<tr class="tableHeader">
						<th>ID</th>
						<th>NAME</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input placeholder="Search ID" type="text" ng-model="request['taking_order_header.id']" class="inputSearch"></td>
						<td><input placeholder="Search Name" type="text" ng-model="request['taking_order_header.date']" class="inputSearch"></td>
						<td>
							<button type="button" class="buttonClear" ng-click="request = {};">x  clear</button>
							<button type="submit" class="buttonSearch" name="" id="" value=""><div class="search"></div>Search</button>
						</td>
					</tr>
					<tr ng-repeat="a in listEmployee">
						<td ng-bind="a.id"></td>
						<td ng-bind="a.name"></td>
						<td></td>						
					</tr>
				</tbody>
			</table>
		</form>
		<div class="paging" ng-show="list.length">
			<md-button class="skipButton" aria-label="firstPage" ng-show="listPage.currentPage > 0" ng-click="getRequest(0)">
				<md-tooltip>first page</md-tooltip>
				<i class="material-icons iconSkipButton">skip_previous</i>
			</md-button>
			<p ng-show="listPage.currentPage > 0 && listPage.currentPage != undefined" ng-click="getRequest(listPage.currentPage - 1)" role="buttonNextPrev">Previous</p>
			<p ng-repeat="a in listPage" ng-bind="a" ng-click="getRequest(a-1)" role="{{a == listPage.currentPage+1?'buttonDisabled':'button'}}"></p>
			<p ng-show="listPage.currentPage < listPage.totalPage-1 && listPage.currentPage != undefined" ng-click="getRequest(listPage.currentPage + 1)" role="buttonNextPrev">Next</p>
			<md-button class="skipButton" aria-label="lastPage" ng-show="listPage.currentPage != listPage.totalPage-1" ng-click="getRequest(listPage.totalPage-1)">
				<md-tooltip>last page</md-tooltip>
				<i class="material-icons iconSkipButton">skip_next</i>
			</md-button>
		</div>
	</section>
</div>
