<div style="width:auto;" ng-init="init()" class="container">
	<section>
		<div class="headerContent">
			<button class="buttonNoColor" ng-click="goto('/setting/updateProfile')" type="button" ><img src="./assets/images/iconBack.svg"></button>
			<p style="position:absolute;margin:50px;" class="pHeader">Change Password</p>
		</div>
		
		<form ng-submit="save()" name="myForm" class="formContainer">
			<div class="column">
				<div>
					<p>Current Password</p>
					<input type="password" ng-model="request.currentPassword" required>
				</div>
				<div>
					<p>New Password</p>
					<input type="password" ng-model="request.newPassword" required>
				</div>
				<div>
					<p>Confirm Password</p>
					<input type="password" ng-model="request.confirmPassword" required>
				</div>
				
				<div>
					<button ng-disabled="myForm.$invalid" class="buttonBlue" >Save</button>
				</div>
			</div>
		</form>
	</section>
</div>


